body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


/* POPUP */

.popupImage {
  max-width: 100%;
  max-height: 100%;
}


.mapboxgl-popup-content {
  width: 150%;
  border-radius: 4px;
}

/* SLIDER */


.slider-control-container {
  padding: 5px;
}

.slider-control-range-display {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff !important;
  color: #111;
  font-family: 'Libre Franklin', sans-serif;
  border: 1px solid #6ECCB1;
}



/* TITLE */

#info {
  display: flex;
  position: relative;
  margin: 1em auto;
  z-index: 1;
  justify-content: center;
}

/* MENU (TAGS) */

#tagmenu::before {
  content: "Themes:";
  font-size: 13px;
  color: #111;
  padding: 10px;
  font-family: 'Libre Franklin', sans-serif;
}

#tagmenu {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid #6ECCB1;
  font-family: 'Libre Franklin', sans-serif;
  padding: 12px;
  width:150px;
}

#tagmenu a {
  font-size: 13px;
  color: #fff;
  border: 1px solid #111;
  background-color: #111;
  border-radius: 999em;
  display: inline;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
  text-align: center;
}

#tagmenu a:hover {
  background-color: #222;
  color: #fff;
}

#tagmenu a.active {
  background-color: #fff;
  color: #111;
}

#tagmenu a.active:hover {
  background: #111;
  color: #fff;
}


/* MENU (SHORELINES + PRESENT) */

#menu::before {
  content: "Shoreline:";
  font-size: 13px;
  color: #111;
  padding: 10px;
  font-family: 'Libre Franklin', sans-serif;
}

#present-menu::before {
  content: "Layers:";
  font-size: 13px;
  color: #111;
  padding: 10px;
  font-family: 'Libre Franklin', sans-serif;
}

.menu {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid #6ECCB1;
  font-family: 'Libre Franklin', sans-serif;
  padding: 12px;
  width:150px;
}

.menu a {
  font-size: 13px;
  color: #111;
  border: 1px solid #111;
  background-color: #fff;
  border-radius: 999em;
  display: inline;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
  text-align: center;
}

.menu a.active {
  background-color: #111;
  color: #fff;
}


.past-menus {
  gap: 1em;
  display: flex;
  float: right;
  flex-direction: column;
  margin-right:1em;
}


